<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="adventureworksEntities" connectionString="metadata=res://*/AdventureWorksHR.csdl|res://*/AdventureWorksHR.ssdl|res://*/AdventureWorksHR.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\dev;initial catalog=AdventureWorks2012;user id=AuthenticationUser;password=h+freneY;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>