<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SampleDataLayer.Properties.Settings.WebAppConnectionString"
            connectionString="Data Source=RATBURT\DEVELOPMENT;Initial Catalog=WebApp;Persist Security Info=True;User ID=WebUser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>